:root {
  --default-bg: #001B37;
  --default-bg-light: #FFFFF3;
  --default-active: #FCFCFC;
  --default-inactive: #AFAFAF;
  --default-emphasis: #FF0800;
  --project-side-bg: #D3D3D3;
  --contact-red: #FF0800;
  --contact-red-hover: #EE0800;
  --form-blue: #05488C;
  --form-invalid: #FFE0E0;
  --black: #333333;
  --modal-pending: #F3EB89;
  --modal-ok: #98DC98;
  --modal-error: #DC9898;
}
