.home-part1 {
  background-color: var(--default-bg);
  width: 100%;
  min-height: 100vh;
  display: grid;
}

.home-part2 {
  background-color: var(--default-bg-light);
  color: var(--default-active);
}

.home-part2 h4 {
  color: var(--default-emphasis);
}

.Home h4 {
  font-weight: 800;
  letter-spacing: .25em;
  text-transform: uppercase;
}

.headline h1 {
  margin-top: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 6em;
}

.headline h1 span:first-child {
  color: var(--default-active);
}

.headline h1 span:last-child {
  color: var(--default-emphasis);
}

.Home .home-part1 .content {
  display: flex;
}

.Home .home-part2 .content {
  overflow: auto;
}

.home-part2 h2 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: .5em;
}

.Home .content {
  color: var(--default-active);
  padding-left: 10%;
}

.home-part2 .content {
  padding-right: 40%;
}

.home-part2 .content p {
  color: var(--default-inactive);
}

@media (max-width: 1000px) {
  .project-right {
    width: 40%;
  }
}

@media (max-width: 750px) {
  .Home .content {
    padding-left: 0;
  }
  .Home .home-part2 .content {
    padding-right: 0;
  }
  .headline h1 {
    font-size: 3em;
  }
}

.home-part2 .logo {
  font-weight: bold;
}

.home-part2 .logo span:first-child {
  color: var(--default-emphasis);
}

.home-part2 .logo span:last-child {
  color: var(--default-active);
}
