.home-part1 {
  background-color: var(--default-bg);
  width: 100%;
  min-height: 100vh;
  display: grid;
}

.home-part2 {
  background-color: var(--default-bg-light);
  color: var(--black);
  font-family: 'M PLUS 1p', sans-serif;
}

.Home .home-part2 h5 {
  font-weight: 800;
  letter-spacing: .25em;
  text-transform: uppercase;
  color: var(--default-emphasis)
}

.headline h1 {
  margin-top: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 6em;
}

.headline h1 span:first-child {
  color: var(--default-active);
}

.headline h1 span:last-child {
  color: var(--default-emphasis);
}

.home-part2 h1, .home-part2 h5 {
  text-align: center;
}

.home-part2 h1 {
  margin-top: 0;
}

.home-part2 h5 {
  margin-bottom: 0;
}

.Home .content {
  color: var(--default-active);
  padding-left: 10%;
  padding-right: 10%;
}

.Home .home-part1 .content {
  display: flex;
}

.Home .home-part2 .content {
  overflow: auto;
  color: var(--black);
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  text-align: justify;
  min-height: 100vh;
  font-size: large;
}

@media (max-width: 1000px) {
  .project-right {
    width: 40%;
  }
}

@media (max-width: 750px) {
  .Home .content {
    padding-left: 0;
  }
  .Home .home-part2 .content {
    padding-right: 0;
  }
  .headline h1 {
    font-size: 3em;
  }
}

.home-part2 .logo {
  font-weight: bold;
}

.home-part2 .logo span:first-child {
  color: var(--default-emphasis);
}

.home-part2 .logo span:last-child {
  color: var(--default-black);
}
