.Post {
  color: var(--black);
}

.Post h1 {
  color: var(--form-blue);
}

.Post label p {
  margin-top: .5em;
  color: var(--black);
  text-transform: none;
}

.Post .content {
  padding-left: 10%;
  padding-right: 10%;
}

.Post label {
  display: block;
  color: var(--form-blue);
  font-weight: 800;
  letter-spacing: .1em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.Post input, .Post select, .Post textarea {
  font-size: 1.2em;
  padding: .2em;
  width: 100%;
}

.Post .invalid, .Post input:invalid, .Post select:invalid, .Post textarea:invalid {
  background-color: var(--form-invalid);
}

.Post input:placeholder-shown, .Post textarea:placeholder-shown, .Post select:placeholder-shown {
  background-color: #F6F6F6;
  border: 1px solid #DDDDDD;
}

.Post textarea {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  resize: vertical;
}

.Post input[type=checkbox] {
  width: 1em;
  height: 1em;
}

.Post .submit {
  display: flex;
  justify-content: center;
}

.Post input[type=submit] {
  width: auto;
  border: none;
  border-radius: .5em;
  font-size: 1.5em;
  background-color: var(--contact-red);
  padding: .5em 1em;
  color: var(--default-active);
  margin-bottom: 1em;
  width: auto;
}

.Post input[type=submit]:hover {
  background-color: var(--contact-red-hover);
}

.Post .post-twocol {
  display: flex;
  flex-direction: row;
}

.Post .post-left {
  flex-grow: 1;
  margin-right: 10%;
}

.Post .post-right {
  flex-grow: 1;
}

@media (max-width: 1000px) {
  .Post .post-twocol {
    flex-direction: column;
  }
  .Post .post-left {
    margin-right: 0%;
  }
}
