.Project {
  color: var(--black);
}

.Project h1, .project-loc {
  text-align: center;
}

.project-left {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}

.project-right {
  background-color: var(--project-side-bg);
  list-style-type: "-";
  float: right;
  width: 20%;
  margin-left: 1em;
  border-radius: 1em;
  padding: 1em;
}

.project-contact {
  text-align: center;
}

.project-contact button {
  background-color: var(--default-emphasis);
  color: var(--default-active);
  border: none;
  padding: .5em;
  border-radius: .5em;
  font-size: 1.25em;
}

.project-contact button a {
  text-decoration: none;
  color: var(--default-active);
}

.project-contact button:hover {
  background-color: var(--contact-red-hover);
}

@media (max-width: 1000px) {
  .project-right {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .project-right {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0;
  }

  .project-right-inner {
    padding: 1em;
  }
}

.Project .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 500;
}

.Project .modal .modal-content {
  background-color: white;
  width: 90vw;
  height: 90vh;
  margin-left: 5vw;
  margin-top: 5vh;
  overflow-y: scroll;
}

.Project .modal .modal-content::-webkit-scrollbar {
  display: none;
}

.Project .modal .modal-content form {
  padding-left: 5vw;
  padding-right: 5vw;
}

.Project .modal p {
  text-align: center;
}

.Project .modal .modal-close {
  margin-right: 1em;
  margin-top: 1em;
  float: right;
}

.Project .modal .modal-close:hover {
  color: var(--contact-red);
}
